@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
body{
    margin-top: 150px !important;
    background-color:rgb(128, 133, 224);
    <!-- background: radial-gradient(circle, rgba(255,247,182,1) 0%, rgba(76,235,124,1) 100%); -->
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
      color: #000 !important;
      
    
  font-family: "Exo", sans-serif !important;
}
.pera{
    font-size: 3em;

   
}
.img{
    border-radius: 60px;
}
.a{
    outline: none;
}
.ok{
    background: transparent;
    border: 1px solid black;
}
.hover{
      
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: 1.0s;
  }
  .hover:hover:before {
    transform: translateX(0);
    z-index: -1;
  }
  .hover:hover {
    color: #000 !important;
  }